
  
.mselect a {
        color: black !important;
    }

    .mselect {
        float: left;
        margin-left: 5px;
    }

    .multiselect:hover {
        background-color: #7CBF51 !important;
        cursor: pointer !important;
        color: white !important;
        font-weight: bold !important;
    }

    #printESR:hover {
        background-color: #7CBF51  !important;
        cursor: pointer !important;
        color: white !important;
        font-weight: bold !important;
    }
	.mybtn {
        background-color: #0A76D6 !important;
        color: white;
    }
   .mybtn:hover {
        background-color: #7CBF51;
        cursor:pointer;
        color: white;
        font-weight: bold;
    }
